{**
 * @param Filter                $filter
 * @param Nette\Forms\Container $input
 * @param string                $icon_prefix       Icon prefix (fa fa-)
 *}

{var $container = $input}
{*php dump($filter,$input,$icon_prefix,$outer)*}
{if $outer}
	<div>
		{input $container['date']}
	</div>
{else}
	<div>
		{input $container['date']}
	</div>
{/if}
